definitions:
  models.CreateMessageRequest:
    properties:
      chat_id:
        type: string
      message_text:
        type: string
      message_type:
        allOf:
        - $ref: '#/definitions/models.MessageType'
        enum:
        - text
        - image
        - file
        - video
        - audio
      receiver_id:
        type: string
      reply_to_message_id:
        type: string
    required:
    - chat_id
    - message_text
    - message_type
    type: object
  models.GetMessagesResponse:
    properties:
      count:
        type: integer
      has_next:
        type: boolean
      has_prev:
        type: boolean
      limit:
        type: integer
      messages:
        items:
          $ref: '#/definitions/models.MessageDetail'
        type: array
      page:
        type: integer
      total:
        type: integer
    type: object
  models.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  models.MessageDetail:
    properties:
      chat_id:
        type: string
      created_at:
        type: string
      id:
        type: string
      is_deleted:
        type: boolean
      is_edited:
        type: boolean
      is_read:
        type: boolean
      message_text:
        type: string
      message_type:
        $ref: '#/definitions/models.MessageType'
      reply_to_message_id:
        type: string
      sender_avatar_url:
        type: string
      sender_id:
        type: string
      sender_name:
        type: string
      sender_nickname:
        type: string
      sender_surname:
        type: string
    type: object
  models.MessageType:
    enum:
    - text
    - image
    - file
    type: string
    x-enum-varnames:
    - MessageTypeText
    - MessageTypeImage
    - MessageTypeFile
  models.RefreshRequest:
    properties:
      refresh_rotate:
        type: boolean
      refresh_token:
        type: string
    required:
    - refresh_token
    type: object
  models.RegistrationRequest:
    properties:
      email:
        type: string
      name:
        type: string
      nickname:
        type: string
      password:
        minLength: 6
        type: string
      surname:
        type: string
    required:
    - email
    - name
    - nickname
    - password
    - surname
    type: object
  models.TokenResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_token:
        type: string
      token_type:
        type: string
    type: object
  models.UserResponse:
    properties:
      approved:
        type: boolean
      avatar_url:
        type: string
      bio:
        type: string
      created_at:
        type: string
      email:
        type: string
      id:
        type: string
      is_online:
        type: boolean
      last_seen:
        type: string
      name:
        type: string
      nickname:
        type: string
      surname:
        type: string
      updated_at:
        type: string
    type: object
info:
  contact: {}
  description: API с JWT авторизацией
  title: Fakegram API
  version: "1.0"
paths:
  /api/v1/auth/login:
    post:
      consumes:
      - application/json
      description: Проверяет email и пароль
      parameters:
      - description: Данные для авторизации
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная авторизация
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Неверный формат запроса
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Неверный email или пароль
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Авторизация пользователя
      tags:
      - auth
  /api/v1/auth/refresh:
    post:
      consumes:
      - application/json
      description: Обновляет access токен или оба токена с помощью refresh токена
      parameters:
      - description: Данные для обновления токенов
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.RefreshRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Успешное обновление токенов
          schema:
            $ref: '#/definitions/models.TokenResponse'
        "400":
          description: Неверный формат запроса
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Невалидный или просроченный refresh token
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Обновление токенов
      tags:
      - auth
  /api/v1/auth/registration:
    post:
      consumes:
      - application/json
      description: Регистрирует нового пользователя в системе
      parameters:
      - description: Данные пользователя
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.RegistrationRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Пользователь создан
          schema:
            $ref: '#/definitions/models.UserResponse'
        "400":
          description: Неверный формат данных
          schema:
            additionalProperties:
              type: string
            type: object
        "409":
          description: Email уже существует
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Регистрация
      tags:
      - auth
  /api/v1/chats:
    get:
      consumes:
      - application/json
      description: Возвращает список всех чатов (приватных и групповых) пользователя
        на основе JWT токена. Для приватных чатов автоматически устанавливается название
        в формате "Имя Фамилия" собеседника.
      produces:
      - application/json
      responses:
        "200":
          description: 'chats": "Список объектов ChatListItem", "count": "Количество
            чатов'
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Неавторизован - невалидный токен или claims
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Внутренняя ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Получить чаты пользователя
      tags:
      - chats
  /api/v1/messages:
    post:
      consumes:
      - application/json
      description: Отправляет сообщение. Для существующих диалогов используйте chat_id,
        для новых - receiver_id
      parameters:
      - description: Данные для отправки сообщения
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.CreateMessageRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Сообщение отправлено
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Неверные данные запроса
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Неавторизован
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Доступ запрещен
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Отправить сообщение
      tags:
      - messages
  /api/v1/messages/private-chat/{user_id}:
    get:
      consumes:
      - application/json
      description: Возвращает сообщения из приватного чата между двумя пользователями
        с автоматической отметкой о прочтении
      parameters:
      - description: ID второго пользователя
        in: path
        name: user_id
        required: true
        type: string
      - default: 1
        description: Номер страницы
        in: query
        name: page
        type: integer
      - default: 20
        description: Количество сообщений на странице
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Список сообщений
          schema:
            $ref: '#/definitions/models.GetMessagesResponse'
        "400":
          description: Неверные параметры
          schema:
            additionalProperties:
              type: string
            type: object
        "403":
          description: Доступ запрещен
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Получить сообщения чата
      tags:
      - messages
  /api/v1/users:
    get:
      consumes:
      - application/json
      description: Возвращает информацию о пользователе на основе JWT токена
      produces:
      - application/json
      responses:
        "200":
          description: Информация о пользователе
          schema:
            $ref: '#/definitions/models.UserResponse'
        "401":
          description: Неавторизован
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Пользователь не найден
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Получить текущего пользователя
      tags:
      - users
  /api/v1/users/all_users:
    get:
      consumes:
      - application/json
      description: Возвращает список пользователей с поддержкой пагинации
      parameters:
      - default: 1
        description: Номер страницы
        in: query
        minimum: 1
        name: page
        type: integer
      - default: 10
        description: Количество записей на странице
        in: query
        maximum: 100
        minimum: 1
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Список пользователей
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Получить пользователей
      tags:
      - users
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
